body {
    background-color:#D9DCD6;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #3a7ca5;
}

h2{
    color: #2F6690;
}

p{
    color: #16425B;
}

a{
text-decoration: none;
background-color: #81C3D7;
color: black;
padding: 3px;
border-radius: 2px;
}

#name{
    font-style: italic;
}