/* Structure */

body {
    background-color: white;
    overflow-x: hidden;
}

header #main-title {
    text-align: center;
    font-size: 42px; 
}

.games {
    text-align: left;
}

.columns {
    display: flex;
}

/* Navigation */
#button-home,
#button-roster,
#button-schedule,
#button-my-tickets,
#button-game-ratings,
#button-log-in {
    border: 2px solid blue; 
    font-size: 12px;
    background: none;
    margin: 0; 
    padding: 1.5%; 
    width: 16.66%; 
    text-align: center; 
}

#button-container {
    border: 2px solid blue;
    padding: 0px;
    width: 90%;
}

#main-nav ul {
    text-align: center;
    width: 100%;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}

.hidden {
    display: none;
}

#button-schedule{
    background-color: blue;
    color: white;
}

/* Body */
.main-section {
    padding: 20px;
    text-align: center;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: white;
    display: block;
}

.content-section-upcoming {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #e5e2e2;
    display: block;
}

#upcoming {
    background-color: #e5e2e2;
}

/* Add these styles to your CSS */

.rectangle {
    position: relative;
    width: 90%;
    height: 150px;
    background-color: grey;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.img-container {
    flex: 1; 
    margin-right: 1000px; 
}

.text-container {
    flex: 4; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

#amount{
    width: 15px;
}

.first, .second, .third, .fourth {
    position: absolute;
    color: white; 
}

.first {
    top: 10px; 
    left: 200px; 
}

.second {
    top: 10px; 
    right: 10px; 
}

.third {
    bottom: 10px; 
    left: 200px; 
}

.fourth {
    bottom: 10px; 
    right: 10px; 
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Media Query */
@media only screen and (min-width: 1000px) {
    
    .content-section {
        display: flex; 
        padding: 10px;
    }

    #hamburger {
        display: none;
    }

    .hide-small {
        display: block;
    }

    #button-home,
    #button-roster,
    #button-schedule,
    #button-my-tickets,
    #button-game-ratings,
    #button-log-in {
        font-size: 20px;
    }
}
