/*Structure*/

body{
    background-color: aliceblue;
}

h2{
    text-align: center;
}

.intro, .foot{
    text-align: center;
    background-color: yellow;
    color: black;
}

.row {
    display: flex;
    gap: 20px;
    background-color: blue;
    padding: 20px
}

.column {
    flex: 1;
    background-color:lightblue;
    padding: 20px;
}

.hide {
    display: none;
}

.comment-box{
    background-color: tan;
}

.product-font{
    color: blue;
    background-color: tan;
}


/* Annimation */

#heart{
    width: 100px;
    height: 100px;
    position: relative;
}

.anim-heart{
    animation-name: anim-heart;
    animation-duration: 2s;
    animation-iteration-count: 1;
}



@keyframes anim-heart {
    0%   {left:0px; top:0px;}
    25%  {left: 100px; top:0px;}
    50%  {left:100px; top:100px;}
    75%  {left:0px; top:100px;}
    100% {left:0px; top:0px;}
  }




/* Typography */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Media Query */

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}