/* Structure */

body {
    background-color: white;
    overflow-x: hidden;
    color: maroon;
}

header #main-title {
    text-align: center;
    font-size: 42px; 
    color: black;
}

.columns {
    display: flex;
}


/* Navigation */
#button-home,
#button-roster,
#button-schedule,
#button-my-tickets,
#button-game-ratings,
#button-log-in {
    border: 2px solid maroon; 
    font-size: 12px;
    background: none;
    margin: 0;
    padding: 1.5%; 
    width: 16.66%; 
    text-align: center; 
}

#button-container {
    border: 2px solid maroon;
    padding: 0;
    width: 90%;
}

#main-nav ul {
    text-align: center;
    width: 100%;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: maroon;
    margin: 6px 0;
}

.hide-small {
    display: none;
}

.hidden {
    display: none;
}

#button-game-ratings{
    background-color: maroon;
    color: white;
}

/* Body */

#new-rating { 
    width: 70%;
    margin: 0 auto;
}

label,
input {
    display: block;
}

label {
    width: 30%;
    text-align: right;
    padding: 5px;
}

#txt-rating{
    width: 20px;
}

#txt-description{
    width: 500px;
    height: 100px;
}

#button-add-rating{
    height: 60px;
}




#rectangle {
    position: relative;
    width: 90%;
    height: 150px;
    background-color: maroon;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.img-container {
    flex: 1; 
    margin-right: 1000px; 
}

.text-container {
    flex: 4; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

#amount{
    width: 15px;
}

.first, .second, .third, .fourth, .fifth {
    position: absolute;
    color: white; 
}

.first {
    top: 10px; 
    left: 10px; 
}

.second {
    top: 10px; 
    right: 10px; 
}

.third {
    top: 50px; 
    left: 10px; 
}

.fourth {
    top: 50px; 
    right: 10px; 
}

.fifth{
    left: 10px;
    top: 85px;
}

#d-left{
    text-align: left;
}



/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Media Query */
@media only screen and (min-width: 1000px) {
    
    .content-section {
        display: flex; 
        padding: 10px;
    }

    #hamburger {
        display: none;
    }

    .hide-small {
        display: block;
    }

    #button-home,
    #button-roster,
    #button-schedule,
    #button-my-tickets,
    #button-game-ratings,
    #button-log-in {
        font-size: 20px;
    }
}
